---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout>
    <Menu />
    <h1 class="pl-12 pb-8 text-3xl">Simple</h1>
    <div id="myplot" class="ml-8"></div>
    <script>
        import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";

        const plot = Plot.rectY(
            { length: 10000 },
            Plot.binX({ y: "count" }, { x: Math.random }),
        ).plot();
        const div = document.querySelector("#myplot");
        div.append(plot);
    </script>
</Layout>
