---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";

---

<Layout>
    <Menu />
    <div id="myplot" class="ml-8"></div>
    <script>
        import * as Plot from "@observablehq/plot";
        import penguins from "../assets/penguins.json";

        const plot = Plot.plot({
            marks: [
        Plot.dot(penguins, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],});
        const div = document.querySelector("#myplot");
        div.append(plot);
    </script>
</Layout>
