---

---

<div class="flex gap-4 shadow-2xl p-4 mb-8 pl-12">
    <a href="/">Home</a>
    <a href="/simple">Simple</a>
    <a href="/simplepenguin">Simple Penguin</a>
    <a href="/penguinfilter">Penguin Filtre</a>
    <a href="/penguinfilters">Penguins Filtres Multiples</a>
    <a href="/otherdataset">Autre Dataset</a>
</div>
